.member-control,
.member-control.no-select:hover {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border-radius: 12px;
    border-color: #aaa;
    border-width: 2px;
    border-style: solid;
    width: 2.5rem;
    padding: 1px;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    
    height: 2.5rem;
    line-height: 2.5rem;
    user-select: none;
    cursor: pointer;
}

.member-control.no-select {
    background-color: #ccc;
}

.member-control:hover{
    background-color: #29a1f2;
    border-color: #0a80ce;
    color: #fff;
}

.member-control:active {
    filter: brightness(80%);
}