/* .theme-button {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border-radius: 12px;
    border-color: #aaa;
    border-width: 2px;
    border-style: solid;
    padding: 1px 1rem 1px 1rem;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    
    height: 2.5rem;
    line-height: 2.5rem;
    user-select: none;
    display: inline;
} */